.counter_wrapper {
    padding: 15px;
    max-width:300px;
    width:100%;
    text-align:center;
}

.buttons_wrapper {
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}
.buttons {
    padding:5px 20px;
}
.countScreen {
    border:1px solid ;
    max-width:200px;
    width:100%;
    padding:5px;
    margin: 10px auto;
}